@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Header & nav  */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 0 150px;
}

/* Nav styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.navbar .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin-left: 40px;
}
.nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
}

/* Brand New styles */
.brand-new {
  text-align: center;
  padding: 40px 0;
}
.brand-new .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 30px;
}
.brand-new .decription {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}
.btn-orange {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  background: #ff900e;
  border-radius: 8px;
  border: 0;
}
.brand-new img {
  width: 100%;
  margin-top: 50px;
}

/* Main styles */
main {
  margin: 0 150px;
}

/* Quick list styles */
.quick-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin: 85px 30px;
  align-items: center;
}
.quick-list-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.quick-list-banner .banner img {
  width: 100%;
}

.quick-list-description .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
  margin-bottom: 24px;
}
.quick-list-description .title b {
  font-weight: 700;
  color: #131313;
}
.text-orange {
  font-weight: 700;
  color: #ff900e;
}

.quick-list-description p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
/* Love & Enjoy Fetures Styles */
.love-enjoy-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 104px;
  justify-content: center;
}
.love-enjoy-container img {
  width: 100%;
  height: 90%;
}

.love-enjoy-container .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding: 0 0 0 20px;
  margin: 20px 0;
  margin-bottom: 24px;
}
.love-enjoy-container p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.love-enjoy {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
}

.love-enjoy h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}

.btn-lg-orange {
  text-align: center;
  color: #ffffff;
  padding: 25px;
  background: #ff900e;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  position: relative;
  top: -100px;
  left: -70px;
}
.btn-lg-orange span {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
}
/* some facts Styles */

.some-facts {
  margin-top: 100px;
}
.some-facts .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;

  color: #131313;
}
.some-facts .description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 24px;
}
.container {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}
.info {
  padding: 35px;
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: 0.5s;
}
.info:hover {
  transform: skew(-10deg);
  box-shadow: 2px 2px 20px 2px lightgray;
}
.info img {
  width: 45.22px;
  height: 45.22px;
}
.info h3 {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
  margin: 10px 0 5px 0;
}
.info h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}
/* our-sponsors styles */
.our-sponsors-container {
  text-align: center;
}

.our-sponsors-container .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.our-sponsors-container .description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 24px 0;
}
.our-sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.our-sponsors img {
  width: 165.83px;
  height: 50px;
}

/* Our team styles */
.our-team {
  margin: 100px 0;
}
.our-team .title { 
  font-weight: 700;
  font-size: 45px; 
  text-align: center;
  color: #131313;
}
.our-team .members {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.member {
  box-shadow: 2px 2px 20px 3px lightgray;
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
}
.member img {
  width: 100%;
  height: 200px;
}

.member h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* copy riht styles */
.copy-right {
  background: #fff4e7;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
}

/* Responsive  Mobile Device*/
@media screen and (max-width: 576px) {
  .header {
    padding: 0;
  }

  /* Nav styles*/
  .navbar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 10px;
  }
  .nav {
    flex-direction: column;
  }

  main {
    margin: 0;
  }

  /* Quick list styles */
  .quick-list-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Love Enjoy */
  .love-enjoy-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 15px;
    text-align: center;
  }
  .love-enjoy-container img {
    height: auto;
  }

  .btn-lg-orange {
    top: 50px;
    left: 0;
  }

  /* some facts Styles */

  .some-facts {
    /* margin-top: 100px; */
  }

  .some-facts .description {
  }
  .container {
    flex-direction: column;
    gap: 0;
  }
  .info {
    margin: 30px;
  }

  /*  */
  .our-sponsors-container {
    padding: 10px;
  }
  .our-sponsors {
    flex-direction: column;
  }

  /*  */
  .our-team .members{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 30px;
  
  }
  .member img{
    height: auto;
  }
}
