@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Header & nav  */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 0 150px;
}

/* Nav styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.navbar .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin-right: 40px;
}
.nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
}

/* Brand New styles */
.brand-new {
  text-align: center;
  padding: 40px 100px;
}
.brand-new .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 30px;
}
.brand-new .decription {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}
.btn-orange {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  background: #ff900e;
  border-radius: 8px;
  border: 0;
}
.brand-new img {
  width: 100%;
  margin-top: 50px;
}

/* Main styles */
main {
  margin: 0 150px;
}

/* Quick list styles */ 
.quick-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin: 85px 0;
  align-items: center;
}
.quick-list-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
 
.quick-list-banner .banner img {
  width: 100%;
}

 
.quick-list-description .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
  margin-bottom: 24px;
}
.quick-list-description .title b {
  font-weight: 700;
  color: #131313;
}
.text-orange {
  font-weight: 700;
  color: #ff900e;
}

.quick-list-description p{
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;  
    color: #727272;
}
